.custom-chart-container .recharts-cartesian-axis-tick-value {
  fill: #6b7280;
}

.custom-chart-container .recharts-tooltip-wrapper {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-chart-container .recharts-line-dots .recharts-active-dot {
  stroke: #4b40ee;
  stroke-width: 2px;
}

.custom-chart-container .recharts-tooltip-item-list {
  color: #4b40ee;
  font-weight: 500;
}

.recharts-cartesian-axis-tick text {
  display: none;
}
